<!doctype html>
<html>
<head>
	<title>studer + raimann chat</title>
	<link href="/srchat/css" rel="stylesheet">
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	$(function () {
		$("html,body").scrollTop($(document).height());

		var socket = io({query: {token: "<%= token %>"}});
		$('form').submit(function(e){
			e.preventDefault(); // prevents page reloading
			if ($('#m').val() !== '') {
				socket.emit('chat_msg', $('#m').val());
				$('#m').val('');
			}
			return false;
		});

		socket.on('chat_msg', function(msg){
			var scroll_down = ($(window).scrollTop() + $(window).height() === $(document).height());

			$('#messages').append($('<li>')
					.append($('<img>')
							.attr("class", "srchat_profile_picture")
							.attr("height", "30px")
							.attr("src", "http://local.ilias54.com/data/<%= client_id %>/usr_images/usr_" + msg.usr_id + "_xsmall.jpg")
							.attr("onerror", "if (this.src != 'http://local.ilias54.com/templates/default/images/no_photo_xsmall.jpg') this.src = 'http://local.ilias54.com/templates/default/images/no_photo_xsmall.jpg';")
					).append($('<div>').attr("class", "srchat_message_div")
							.append($('<p>').attr("class", "srchat_message_name").text(msg.public_name))
							.append($('<p>').attr("class", "srchat_message_content").text(msg.msg))
					)
			);

			if (scroll_down) {
				$("html,body").animate({scrollTop: $(document).height()}, "slow");
			}
		});
	});
</script>
<body>
<div id="chat_body">
	<ul id="messages">
		<% messages.forEach(function(message){ %>
		<li>
			<img class="srchat_profile_picture" height="30px" src="http://local.ilias54.com/data/<%= client_id %>/usr_images/usr_<%= message.usr_id %>_xsmall.jpg" onerror="if (this.src != 'http://local.ilias54.com/templates/default/images/no_photo_xsmall.jpg') this.src = 'http://local.ilias54.com/templates/default/images/no_photo_xsmall.jpg';">
			<div class="srchat_message_div">
				<p class="srchat_message_name"><%= message.public_name %></p>
				<p class="srchat_message_content"><%= message.message %></p>
			</div>
		</li>
		<% }) %>
	</ul>
	<form action="">
		<input maxlength="120" id="m" autocomplete="off" /><button>Send</button>
	</form>
</div>
</body>
</html>